body {
  background-color: orange;
}

.container{
  margin-top: 50px;
}

.buttonsWrap {
  margin-bottom: 50px;
}

.card {
  background-color: orange;
  border: none;
  margin: 20px;
}

.buttons {
  width: 250px;
}

.edit {
  margin-bottom: 10px;
}

.row {
  margin:auto;
}

.home{
  margin: auto;
  margin-top: 20%;
  width: 30%;
}

.link {
  margin-left: 20px;
}